flow.json
[
    {
        "id": "d9127fb3f435705f",
        "type": "tab",
        "label": "MDL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5df1688ce4528a9",
        "type": "tab",
        "label": "Emby",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f05dcebfaece5778",
        "type": "ui_tab",
        "name": "My Drama List Charts For Current Quater",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a30ca295ecc479c1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "216ab27bae3fb75d",
        "type": "ui_group",
        "name": "MDL Top 100 Dramas Country wise Chart",
        "tab": "f05dcebfaece5778",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a871210b6c2e8e1",
        "type": "ui_group",
        "name": "Top 10 Korean Dramas",
        "tab": "f05dcebfaece5778",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e38d88a439de5826",
        "type": "ui_group",
        "name": "Top 10 Chinese Dramas",
        "tab": "f05dcebfaece5778",
        "order": 3,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74171b52c3849283",
        "type": "ui_group",
        "name": "Top 10 Japanese Dramas",
        "tab": "f05dcebfaece5778",
        "order": 4,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ac9d1640b3cb45f",
        "type": "ui_tab",
        "name": "Emby",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "803338231475a56e",
        "type": "ui_group",
        "name": "Last 15 Played Item",
        "tab": "7ac9d1640b3cb45f",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7148c6eaea4a4e3f",
        "type": "ui_group",
        "name": "Total Play Time",
        "tab": "7ac9d1640b3cb45f",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b99745f3cb722d0",
        "type": "ui_group",
        "name": "Daily Play Time",
        "tab": "7ac9d1640b3cb45f",
        "order": 3,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7710ba1174fb2d2f",
        "type": "mqtt-broker",
        "name": "pi4b_mqtt",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node_red_mqtt_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "180",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3dc2be7d73f5c349",
        "type": "pythonshell in",
        "z": "d9127fb3f435705f",
        "name": "MDL T100 Chart",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/mdl_chart.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "764c91e0a470fa0d",
                "3dd916728b48fe2d"
            ]
        ]
    },
    {
        "id": "98c108d047d72462",
        "type": "pythonshell in",
        "z": "d9127fb3f435705f",
        "name": "MDL K Drama",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/mdl_kdrama.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "5d6fac8c7167c2b2",
                "ae41395fa3d2908d"
            ]
        ]
    },
    {
        "id": "fb42c9ab74f00fa5",
        "type": "pythonshell in",
        "z": "d9127fb3f435705f",
        "name": "MDL C Drama",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/mdl_cdrama.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "77873cd956510b0e",
                "0766912c88e1dcc6"
            ]
        ]
    },
    {
        "id": "a8bffd0775d2ebb6",
        "type": "pythonshell in",
        "z": "d9127fb3f435705f",
        "name": "MDL J Drama",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/mdl_jdrama.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "c7bd0bce070b1ec4",
                "5ae45e4658d13a69"
            ]
        ]
    },
    {
        "id": "c3e7b51913bb82b6",
        "type": "ui_table",
        "z": "d9127fb3f435705f",
        "group": "4a871210b6c2e8e1",
        "name": "",
        "order": 1,
        "width": "15",
        "height": "7",
        "columns": [
            {
                "field": "title",
                "title": "Title",
                "width": "230",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "episodes",
                "title": "Episodes",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ranking",
                "title": "Ranking",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "genres",
                "title": "Generes",
                "width": "280",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "rating",
                "title": "Rating",
                "width": "90",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "6158dbda60225da6",
        "type": "ui_table",
        "z": "d9127fb3f435705f",
        "group": "e38d88a439de5826",
        "name": "",
        "order": 2,
        "width": "15",
        "height": "6",
        "columns": [
            {
                "field": "title",
                "title": "Title",
                "width": "230",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "episodes",
                "title": "Episodes",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ranking",
                "title": "Ranking",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "genres",
                "title": "Genres",
                "width": "280",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "rating",
                "title": "Rating",
                "width": "90",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "7ecc9f95417b9530",
        "type": "ui_table",
        "z": "d9127fb3f435705f",
        "group": "74171b52c3849283",
        "name": "",
        "order": 3,
        "width": "15",
        "height": "6",
        "columns": [
            {
                "field": "title",
                "title": "Title",
                "width": "230",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "episodes",
                "title": "Episodes",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "ranking",
                "title": "Ranking",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "genres",
                "title": "Genres",
                "width": "280",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "rating",
                "title": "Rating",
                "width": "90",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "764c91e0a470fa0d",
        "type": "debug",
        "z": "d9127fb3f435705f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "5d6fac8c7167c2b2",
        "type": "debug",
        "z": "d9127fb3f435705f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "77873cd956510b0e",
        "type": "debug",
        "z": "d9127fb3f435705f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "c7bd0bce070b1ec4",
        "type": "debug",
        "z": "d9127fb3f435705f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "3dd916728b48fe2d",
        "type": "json",
        "z": "d9127fb3f435705f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "08de4ca62efb5bdb"
            ]
        ]
    },
    {
        "id": "ae41395fa3d2908d",
        "type": "json",
        "z": "d9127fb3f435705f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "c3e7b51913bb82b6"
            ]
        ]
    },
    {
        "id": "0766912c88e1dcc6",
        "type": "json",
        "z": "d9127fb3f435705f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "6158dbda60225da6"
            ]
        ]
    },
    {
        "id": "5ae45e4658d13a69",
        "type": "json",
        "z": "d9127fb3f435705f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 620,
        "wires": [
            [
                "7ecc9f95417b9530"
            ]
        ]
    },
    {
        "id": "08de4ca62efb5bdb",
        "type": "ui_chart",
        "z": "d9127fb3f435705f",
        "name": "",
        "group": "216ab27bae3fb75d",
        "order": 3,
        "width": "15",
        "height": "7",
        "label": "Country wise No of Dramas",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "94c70d4ebef86407",
        "type": "cronplus",
        "z": "d9127fb3f435705f",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 0/6 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 720,
        "wires": [
            [
                "9f6aae76c3870412"
            ]
        ]
    },
    {
        "id": "9f6aae76c3870412",
        "type": "pythonshell in",
        "z": "d9127fb3f435705f",
        "name": "",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/mdl_psql_current.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 540,
        "y": 720,
        "wires": [
            [
                "60d709c4912aee4c",
                "d2f724c85415ecf9"
            ]
        ]
    },
    {
        "id": "60d709c4912aee4c",
        "type": "file",
        "z": "d9127fb3f435705f",
        "name": "",
        "filename": "/home/pi/Development/node-red_mdl.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 980,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e15e762585c687d6",
        "type": "cronplus",
        "z": "d9127fb3f435705f",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 9 ? * SUN *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 840,
        "wires": [
            [
                "321a97fd5924f469"
            ]
        ]
    },
    {
        "id": "321a97fd5924f469",
        "type": "pythonshell in",
        "z": "d9127fb3f435705f",
        "name": "",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/mdl_psql_history.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 540,
        "y": 840,
        "wires": [
            [
                "00c54538cecf1c97",
                "d2f724c85415ecf9"
            ]
        ]
    },
    {
        "id": "00c54538cecf1c97",
        "type": "file",
        "z": "d9127fb3f435705f",
        "name": "",
        "filename": "/home/pi/Development/node-red_mdl.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 980,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "9febba56fdb2789d",
        "type": "mqtt in",
        "z": "d9127fb3f435705f",
        "name": "",
        "topic": "mdl_dashboard",
        "qos": "1",
        "datatype": "auto",
        "broker": "7710ba1174fb2d2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "3dc2be7d73f5c349",
                "98c108d047d72462",
                "fb42c9ab74f00fa5",
                "a8bffd0775d2ebb6"
            ]
        ]
    },
    {
        "id": "7ff629cc0a0f4a9c",
        "type": "mqtt out",
        "z": "d9127fb3f435705f",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7710ba1174fb2d2f",
        "x": 1070,
        "y": 780,
        "wires": []
    },
    {
        "id": "d2f724c85415ecf9",
        "type": "function",
        "z": "d9127fb3f435705f",
        "name": "",
        "func": "msg.topic=\"mdl_dbinsert\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 780,
        "wires": [
            [
                "7ff629cc0a0f4a9c"
            ]
        ]
    },
    {
        "id": "f2de40939f4a4500",
        "type": "cronplus",
        "z": "f5df1688ce4528a9",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 2 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 160,
        "y": 100,
        "wires": [
            [
                "5742fd6a08b4d88f"
            ]
        ]
    },
    {
        "id": "5742fd6a08b4d88f",
        "type": "pythonshell in",
        "z": "f5df1688ce4528a9",
        "name": "",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/emby_report_cron.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "08bb35ad2af6153d",
                "bd1801c165fab84c"
            ]
        ]
    },
    {
        "id": "08bb35ad2af6153d",
        "type": "file",
        "z": "f5df1688ce4528a9",
        "name": "",
        "filename": "/home/pi/Development/node-red_emby.log",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff34d5bc2cecb3c",
        "type": "pythonshell in",
        "z": "f5df1688ce4528a9",
        "name": "",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/emby_table.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "d7947561a2e81287",
                "ae7fd848506b860a"
            ]
        ]
    },
    {
        "id": "7f89b4174ea5a266",
        "type": "ui_table",
        "z": "f5df1688ce4528a9",
        "group": "803338231475a56e",
        "name": "Last 15 Activity",
        "order": 0,
        "width": "15",
        "height": "7",
        "columns": [
            {
                "field": "date",
                "title": "Date",
                "width": "100",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "itemname",
                "title": "Item Name",
                "width": "570",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "devicename",
                "title": "Device Name",
                "width": "120",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "d7947561a2e81287",
        "type": "json",
        "z": "f5df1688ce4528a9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "7f89b4174ea5a266"
            ]
        ]
    },
    {
        "id": "ae7fd848506b860a",
        "type": "debug",
        "z": "f5df1688ce4528a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed2872c45b7c84d4",
        "type": "pythonshell in",
        "z": "f5df1688ce4528a9",
        "name": "",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/emby_item_total.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "712603b9e053d2dc",
                "a4019a39888f6e65"
            ]
        ]
    },
    {
        "id": "4124515a394de079",
        "type": "ui_chart",
        "z": "f5df1688ce4528a9",
        "name": "",
        "group": "7148c6eaea4a4e3f",
        "order": 0,
        "width": "15",
        "height": "7",
        "label": "Item Wise Total Play Time [Hours]",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "712603b9e053d2dc",
        "type": "debug",
        "z": "f5df1688ce4528a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "a4019a39888f6e65",
        "type": "json",
        "z": "f5df1688ce4528a9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "4124515a394de079"
            ]
        ]
    },
    {
        "id": "2b05a0b229f95f5b",
        "type": "pythonshell in",
        "z": "f5df1688ce4528a9",
        "name": "",
        "pyfile": "/home/pi/.node-red/projects/NodeRedPythonMDL/python_scripts/emby_date.py",
        "virtualenv": "/home/pi/Development/mdlenv",
        "continuous": false,
        "stdInData": false,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "63865ec2c4500ddf",
                "8f871784a3cd9f04"
            ]
        ]
    },
    {
        "id": "63865ec2c4500ddf",
        "type": "debug",
        "z": "f5df1688ce4528a9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "8f871784a3cd9f04",
        "type": "json",
        "z": "f5df1688ce4528a9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 680,
        "wires": [
            [
                "9ef25d344c9e1aa3"
            ]
        ]
    },
    {
        "id": "9ef25d344c9e1aa3",
        "type": "ui_chart",
        "z": "f5df1688ce4528a9",
        "name": "",
        "group": "0b99745f3cb722d0",
        "order": 1,
        "width": "27",
        "height": "7",
        "label": "Daily Play Time [Minutes]",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "720",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "bd1801c165fab84c",
        "type": "function",
        "z": "f5df1688ce4528a9",
        "name": "",
        "func": "msg.topic = \"emby_dbinsert\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 180,
        "wires": [
            [
                "e332ba3d1ad3f04a"
            ]
        ]
    },
    {
        "id": "e332ba3d1ad3f04a",
        "type": "mqtt out",
        "z": "f5df1688ce4528a9",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7710ba1174fb2d2f",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "2c42d26cf9179be5",
        "type": "mqtt in",
        "z": "f5df1688ce4528a9",
        "name": "",
        "topic": "emby_dashboard",
        "qos": "1",
        "datatype": "auto",
        "broker": "7710ba1174fb2d2f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "0ff34d5bc2cecb3c",
                "ed2872c45b7c84d4",
                "2b05a0b229f95f5b"
            ]
        ]
    }
]